---

_This notebook is based on materials from Coursera course [Introduction to data science with python](https://www.coursera.org/learn/python-data-analysis/)._

---

# Lab 4 - Open Task

### In this assignment you have to:

Choose a data set for you own. It is better to choose a data set related to Ukraine. (source example: data.gov.ua, data.kyivcity.gov.ua, kaggle.com).
Create a new jupyter notebook file.
In the begging of the file give a short description of the data set and variables in it. It is necessary to provide a link to the sourse of the data set.
Read the data set. If need you should clean and transform data set.
Ask at least 5 question to the data set. Example of questions you could find in Lab 1 - Lab 3. Give answers to the questions.
Upload to your repository on github .ipynb file and the data set (if possible).

The following code loads the baseball dataset (baseball.csv), which was derrived from the Internet

The columns are organized as # of Name, Team, Position, Height, Age, PosCategory. Use this dataset to answer the questions below.

In [53]:
import pandas as pd

dataset = pd.read_csv('D:/projects_git/courses-introduction-to-python/datasets/baseball.csv')
print (dataset)

                 Name Team        Position  Height  Weight    Age PosCategory
0       Adam_Donachie  BAL         Catcher      74     180  22.99     Catcher
1           Paul_Bako  BAL         Catcher      74     215  34.69     Catcher
2     Ramon_Hernandez  BAL         Catcher      72     210  30.78     Catcher
3        Kevin_Millar  BAL   First_Baseman      72     210  35.43   Infielder
4         Chris_Gomez  BAL   First_Baseman      73     188  35.71   Infielder
...               ...  ...             ...     ...     ...    ...         ...
1010    Brad_Thompson  STL  Relief_Pitcher      73     190  25.08     Pitcher
1011    Tyler_Johnson  STL  Relief_Pitcher      74     180  25.73     Pitcher
1012   Chris_Narveson  STL  Relief_Pitcher      75     205  25.19     Pitcher
1013    Randy_Keisler  STL  Relief_Pitcher      75     190  31.01     Pitcher
1014      Josh_Kinney  STL  Relief_Pitcher      73     195  27.92     Pitcher

[1015 rows x 7 columns]

### Question 1

Display the description of the first player in the dataset

In [65]:
def answer_1():
        return dataset.iloc[0]

print ('The first player in the dataset:')
print(answer_1())

The first player in the dataset:
Name           Adam_Donachie
Team                     BAL
Position             Catcher
Height                    74
Weight                   180
Age                    22.99
PosCategory          Catcher
Name: 0, dtype: object

### Question 2

Calculate the average height of all baseball players

In [66]:
def answer_2():
    return dataset['Weight'].mean()
print ('The average height of all baseball players:')
answer_2()

the average height of all baseball players:

201.34876847290641

### Question 3

Print information about the number of players in each team

In [67]:
def answer_3():
    return dataset['Team'].value_counts()
print ('Number of players in each team:')
answer_3()

Number of players in each team:

NYM    38
ATL    37
CHC    36
OAK    36
DET    36
WAS    36
CIN    35
ANA    35
BOS    35
PIT    35
MLW    35
PHI    35
SF     34
HOU    34
COL    34
BAL    34
TEX    34
KC     34
SEA    34
CLE    34
LA     33
FLA    32
TOR    32
TB     32
SD     32
STL    32
CWS    31
MIN    31
NYY    31
ARZ    28
Name: Team, dtype: int64

### Question 4

Print information about the number of players in each position on The New York Mets (NYM team)

In [68]:
def answer_4():
    return dataset.loc[dataset['Team']=='NYM','PosCategory'].value_counts() 
print ('Number of players in each position:')
answer_4()

Number of players in each position:

Pitcher       22
Infielder      7
Outfielder     7
Catcher        2
Name: PosCategory, dtype: int64

### Question 5

Print information about the tallest baseball player

In [70]:
def answer_5():
    return dataset[dataset['Weight'] == max(dataset['Weight'])] #вывести игрока с наибольшим ростом

print ('Information about the highest baseball player:')
print(answer_5())

Information about the highest baseball player:
              Name Team          Position  Height  Weight    Age PosCategory
154  C.C._Sabathia  CLE  Starting_Pitcher      79     290  26.61     Pitcher

### Question 6
Which player has the highest BMI? The formula for calculating the index is written below:

$$\frac{Height}{Weight^2}$$

Print information about players with a highest BMI

In [80]:
def answer_6():
    dataset['BMI'] = abs(dataset['Height']/((dataset['Weight']/100)*(dataset['Weight']/100)))
    return dataset[dataset['BMI'] == max(dataset['BMI'])]
print ('Players with the highest BMI:')
print (answer_6())

Players with the highest BMI:
                Name Team          Position  Height  Weight    Age  \
279  Oswaldo_Navarro  SEA         Shortstop      72     150  22.41
357     Odalis_Perez   KC  Starting_Pitcher      72     150  29.73

    PosCategory   BMI
279   Infielder  32.0
357     Pitcher  32.0